@use "normalize";
@use "palette/mocha";

:root {
    --bg-main: #{mocha.$base};
    --bg-secondary: #{mocha.$crust};
    --text-main: #{mocha.$text};
    --accent-color: #{mocha.$blue};
}

body,
html {
    width: 100%;
}

body {
    background-color: var(--bg-secondary);
    position: relative;
    font-size: 16px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    min-height: 100vh;
    min-width: 100vw;
    gap: 1em;
}

.module {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.55);

    .close-button {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0.8em;

        i {
            cursor: pointer;
            font-size: 1.5em;
        }

        &:hover {
            color: var(--accent-color);
        }
    }
}

.panel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        height: 450px;
        max-width: 1000px;
    }
}

.sidebar {
    height: 100%;
    width: 300px;
    background-color: var(--accent-color);
    background-size: cover;
    background-position: center;
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--bg-main);
    padding: 2em;
}

button.link {
    display: inline-flex;
    padding: 0.4em 0.7em;
    margin-bottom: 0.7em;
    font-size: 1.25em;
    text-decoration: none;
    transition: box-shadow 0.1s ease, transform 0.18s ease;
    border: none;
    border-radius: 3px;
    background-color: mocha.$surface0;
    color: var(--text-main);
    box-shadow: 0 4px rgba($color: mocha.$crust, $alpha: 0.5),
        0 5px 10px rgba($color: #000000, $alpha: 0.2);

    &:hover {
        cursor: pointer;
        transform: translate(0, 4px);
        box-shadow: 0 0 rgba($color: #000000, $alpha: 0.25),
            0 0 0 rgba($color: #000000, $alpha: 0.5),
            0 0 5px rgba($color: #000000, $alpha: 0.1);
    }

    &:active {
        color: var(--accent-color);
    }
}

#bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 32px;
    max-width: 1000px;
    background-color: var(--bg-main);
}

#settings-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.8em;

    .button {
        i {
            color: transparent;
            font-size: 1.5em;
            transition: all 0.3s ease;

            &:hover {
                color: var(--text-main);
                cursor: pointer;
            }
        }
    }
}

.settings {
    &__container {
        position: relative;
        background-color: var(--bg-main);
        border-radius: 10px;
        height: 60%;
        width: 60%;
        color: var(--text-main);
        padding: 2.25em;
    }
}

.addLink {
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: var(--bg-main);
        border-radius: 10px;
        height: 250px;
        width: auto;
        color: var(--text-main);
        padding: 2.25em;

        input {
            appearance: none;
            color: var(--text-main);
            background-color: mocha.$surface0;
            padding: 0.55em 0.75em;
            border: none;
            border-radius: 8px;

            &::placeholder {
                color: mocha.$overlay1;
            }

            &:active,
            &:focus {
                outline: solid 3px var(--accent-color);
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 30% 1fr;
        gap: 0 8px;
    }
}
